<%- include('../components/PartialHead')%>
<body>
    <div class="container">
        <h1> HOME </h1> <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt deserunt nostrum tenetur culpa praesentium maiores? Explicabo maxime ducimus minus fugiat dolorum est deserunt laborum corporis quidem animi, ex cum eum.
        Quisquam unde aut nihil, obcaecati distinctio qui eveniet debitis expedita autem cum delectus dolorem, suscipit porro neque laborum magnam repellat dolorum corporis. Sequi recusandae expedita blanditiis. Laudantium laborum doloremque voluptas?
        Quos illum harum dicta qui saepe ex exercitationem laudantium et non repellat sunt corrupti fugit repellendus quae cupiditate vitae necessitatibus ad veniam accusamus fugiat esse nulla, impedit placeat? Eius, nesciunt!
        Autem, optio dicta consectetur illum assumenda a veniam. Neque reiciendis repudiandae dolores exercitationem fugiat sapiente fuga hic accusamus doloribus, eaque soluta id quibusdam. Architecto nemo eveniet totam hic facilis blanditiis.
        Natus consequuntur nesciunt quibusdam, eius ratione aliquam! Exercitationem iure laudantium autem expedita possimus odio ex neque eveniet harum, totam est eum optio perferendis, tempora aperiam fuga temporibus ullam modi alias.
        Quisquam, nulla vitae est iste tenetur perferendis corporis, eveniet doloremque nostrum praesentium natus sit veritatis ea itaque maiores, architecto quibusdam illo ducimus voluptatem necessitatibus ipsam possimus! Possimus cupiditate natus reiciendis.
        Eligendi esse harum inventore cupiditate eveniet repudiandae, amet aspernatur corrupti vitae eius dicta nihil voluptas ipsam, voluptatum numquam laborum iste doloremque accusantium odio, alias ut nesciunt temporibus eos. Culpa, porro!
        Ad reprehenderit ullam possimus in cupiditate perspiciatis tenetur nam quis, necessitatibus maxime facere tempora unde a. Cum minus, voluptatibus perspiciatis officia sapiente unde. Ipsa delectus saepe dolorem quia quos necessitatibus.
        Eveniet, impedit eius aliquam ipsa corporis quam magnam ipsum sed voluptates sequi atque hic quia repellat vel quod est neque perspiciatis aperiam necessitatibus! Error voluptate expedita, ea amet laborum esse?
        Nisi sed incidunt voluptatum provident ad eligendi illum, iusto, voluptas ipsam ipsum nemo sint hic blanditiis accusantium possimus porro harum tempore ab illo omnis quisquam, minus ipsa est quia? Veritatis!
    </div>
</body>
<%- include('../components/PartialFooter')%>

