<%- include('../components/PartialHead')%>
<body class="container-lg mx-auto">
    <div class="breadcrumb m-0">
        <span class="breadcrumb-item py-3 text-5xl font-bold"> My Cart </span> 
    </div>
    <% console.log(cartItems) %>
</body>
<%- include('../components/PartialFooter')%>