<%- include('../components/PartialHead')%>
<body class="container-lg mx-auto">
    <div class="breadcrumb m-0">
        <span class="breadcrumb-item py-3 text-5xl font-bold"> Products </span> 
        <span class="breadcrumb-item py-3 text-5xl font-bold"> <%= item.name %> </span> 
    </div>
    
</body>
<%- include('../components/PartialFooter')%>